{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<h1>Привет, я автор этого веб приложения!</h1>
<p>
  Приветствую всех! Меня зовут Артём.
</p>
<p>
  Сложным, но интересным путем программирования и разработки, я пошел уже очень давно. Отучившись сначала в колледже на программиста,
  затем окончив РИНХ, по специальности программного инженера (имею степень магистра). Не прекращал изучать и развиваться в сфере разработки.
</p>
<p>
  Проработав длительное время программистом на платформе 1С и
  разработав с нуля несколько довольно крупных решений после работы на одном крупном предприятии.
  Я решил уйти в веб разработку на python.
  Данный сайт, мой первый большой проект, который я сделал самостоятельно на курсах от яндекс практикума,
  исходники которого можно найти на моей страничке <a href="https://github.com/Art-py">github</a>.
</p>
<p>
  Помимо странички github, моё резюме можно увидеть на сайте <a href="https://rostov.hh.ru/applicant/resumes/view?resume=78d19a47ff01d894a20039ed1f516e68507541">HH.ru</a>.
</p>
<div class="row">
  <div class="col-12">
    <h2>Контакты для связи</h2>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <p>Почта: <a href="mailto: zo.sahaal.13@gmail.com">zo.sahaal.13@gmail.com</a></p>
    <p>Телеграм: <a href="tg://resolve?domain=Art_py">@Art_py</a></p>
  </div>
</div>
{% endblock %} 